<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RST/Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://rakesh87.s3.us-east.cloud-object-storage.appdomain.cloud/style.css">
</head>

<body>
    <section id="header">
        <a href="#"><img src="https://saravanan2001mohan.s3.us-east.cloud-object-storage.appdomain.cloud/rst%20(1).png"
                class="logo" alt="" width="150" height="60"></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="login.html">Login</a><x/li>
                <li><a href="product.html">Product</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="fa fa-shopping-bag"></i></a></li>
                <li><a href="register.html"><i class="fa fa-user-secret"></i></a></li>
            </ul>
    </section>
    <section id="hero">
        <h4>"Happiness Depends Upon Ourselves"</h4>
        <h2>Smart Fashion Recommender</h2>
        <h1>Application</h1>
        <p>Dress Up In Confidence</p>
        <button class="normal">Shop now</button>
    </section>
    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/freeship.png" alt="" width="100"
                height="100">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/orderonline.jpg" alt="" width="100"
                height="100">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/savemoney.jpg" alt="" width="100"
                height="100">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/promotion.jpg" alt="" width="100"
                height="100">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/happysell.jpg" alt="" width="100"
                height="100">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/support.jpg" alt="" width="100"
                height="100">
            <h6>F24/7 Support</h6>
        </div>
    
<a href="#"><i class="fa fa-shopping-bag bag"></i></a>
</div>
</div>
</section>
<section id="sm-banner" class="section-p1">
<div class="banner-box">
<h4>Crazy Deals</h4>
<h2>Buy 1 get 1 free</h2>
<span>The best classic dress is on sale at U Nik</span>
<a href="products.html"><button class="white">Learn More </button></a>
</div>
<div class="banner-box banner-box2">
<h4>spring/summer</h4>
<h2>upcommig seasons</h2>
<span>The best classic dress is on sale at U Nik</span>
<a href="blog.html"><button class="white">Collection</button></a>
</div >
</section>
<section id="banner3">
<div class="banner-box">
<h2>SEASONAL SALE</h2>
<h3>Winter collection 50% off</h3>
</div >
<div class="banner-box banner-box2">
<h2>SEASONAL SALE</h2>
<h3>Winter collection 50% off</h3>
</div >
<div class="banner-box banner-box3">
<h2>SEASONAL SALE</h2>
<h3>Winter collection 50% off</h3>
</div >
</section> -->
    <section id="newsletter" class="section-p1">
        <div class="newstext">
            <h4>Sign up for NewsLetters</h4>
            <p>Get Email updates about our latest shop and <span>special offer</span>
            </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your E-mail Address">
            <button class="normal">login</button>
        </div>
    </section>
    <footer class="section-p1">
        <div class="col">
            <img class="logo"
                src="https://saravanan2001mohan.s3.us-east.cloud-object-storage.appdomain.cloud/rst%20(1).png" alt=""
                width="200" height="100">
            <h4>Contact</h4>
            <p><strong>E-Mail: </strong>rstsmartfashion@gmail.com</p>
            <p><strong>Phone: </strong>1234567890</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fa fa-facebook-f"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-pinterest-p"></i>
                    <i class="fa fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            
<script>
    window.watsonAssistantChatOptions = {
      integrationID: "f575ccb9-7f1a-4ceb-b32b-23f9d2a71c7a", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "c8db2a25-708c-4bac-bb36-d9b5b790d6d3", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>
</body>

</html>